<div id="message-<%= message.id %>">
  <small>
    <strong><%= message.user.username %></strong>
    <i><%= I18n.l(message.created_at, format: :short) %></i>
  </small>
  <p><%= message.content %></p>
</div>


 <%# I18n.l(message.created_at, format: :curta) %>
