<ul class="list-group m-0">
  <% @notifications.each do |notification| %>
    <li class="list-group-item ">
      <%= image_tag url_for(notification.user.photo), class: "avatar-large" %>
      <h5 ><%= notification.content %></h5>
      <p><%= I18n.l(notification.created_at, format: :short) %></p>
    </li>
  <%end%>
</ul>
