<div class="courses-container">
  <ul class="list-group">
  <% @notifications.each do |notification| %>
    <li class="list-group-item"><%= "#{notification.created_at.strftime("%Y-%m-%d %H:%M")} #{notification.content}" %></li>
  <%end%>
  </ul>
</div>
