<div class="feed">
  <div class="feed-header">
    <h2 id="home-h2">
      <%= 'Eventos' if @feed_header == 'events' %>
      <%= 'Home' if @feed_header == 'home' %>
      <%= 'Criar Evento' if @feed_header == 'new' %>
      <%= @event.name.titleize if @feed_header == 'show' %>
    </h2>
  </div>
