<div class="container">
  <h1>Eventos</h1>
  <% @events.each do |e| %>
    <dl><%= link_to e.name, event_path(e) %></dl>
  <% end %>
  <%= link_to "Novo evento", new_event_path, class: "btn btn-primary" %>
</div>


<div style="width: 100%; height: 300px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
