<div class="publish-box">
  <div class="publish-box-input">
    <%= cl_image_tag current_user.photo.key %>
    <%= simple_form_for [@event, @post] do |f| %>
        <%= f.input :content, label: false, input_html: {class: 'ps-3 text-holder'} %>
  </div>
        <%= f.submit 'POSTAR', class: 'publish-box-publish-button-post' %>
    <% end %>
</div>
