.btn-small {
  font-size: 0.9em;
  border-radius: 30px;
}

.btn-confirm {
  border-radius: 30px;
}

.devise-page .button {
  background-color: #7C3E66;
}

.btn-main {
  background-color: #7C3E66;
  color: white;
  &:hover {
    color: white;
  }
}
