.btn-small {

  border-radius: 30px;
  background-color: #7C3E66;
  color: white;
  &:hover {
    color: white;
  }
}

.btn-confirm {
  border-radius: 30px;
  background-color:#7C3E66;
  color: white !important;
  &:hover{
    background-color:#43b071;
    color: black !important;
  }
}

.devise-page .button {
  background-color: #7C3E66;
}

.btn-main {
  background-color: #7C3E66;
  color: white;
  &:hover {
    color: white;
  }
}

.btn-cancel {
  color: white !important;
  background-color: rgb(205, 0, 0);
  border-radius: 30px;
  }
