.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  border-color: #7C3E66;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

#card-chat {
  display: flex;
  border: 3px;
  border-style: solid;
  border-color: #7C3E66;
  border-top-color: transparent;
}

#avatar-chat {
  padding-right: 20px;
}

#content-message {
  flex-direction: column;
}

.courses-container {
  a {
  color: black;
  text-decoration: none;
  }
}

h4 {
  margin-bottom: 0rem;
}

.message-chat {
  width: 100%;
  height: 15vh;
  margin: 3px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  p {
    margin: 0;
  }
}

.message-chat {
  color: black;
  background-color: #F2EBE9;
  flex-direction: row-reverse;
  .gap-chat {
    text-align: end;
    justify-content: flex-end;
  }
}
.avatar-chat {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px solid white;
  img {
    margin: 0;
  }
}

.gap-chat {
  gap: 10px;
}

.chatroom h2 {
  margin: 0;
}
