.btn-cancel-account {
  color: white !important;
  position: relative;
  top: 10px;
  &:hover{
    color:white !important;
  }
}

.btn-back-edit {
  color: white !important;
  position: relative;
  top: 10px;
  &:hover{
    color:white !important;
  }
}

.form-inputs {
  justify-content: space-around;
}

.devise-page #auth {
  max-width: 40vw;
}

.user-sign-in {
  padding-bottom: 20px !important;
}
.fdp {
  margin-bottom: 28px;
}
