.mapbox-events {
  border: 2px solid white;
}

.new-event {
border: 2px solid white;
padding: 20px;
padding-bottom: 49px;
}
.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 575px;
}

.events-title{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  border: 2px solid white;
  margin-bottom: 0px;
}
.courses-container {
  border: 2px solid white;
}

.course h6 {
	opacity: 0.6;
	margin-bottom: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
	background-color: #7C3E66;
	color: #fff;
	max-width: 250px;
	padding: 0px;

}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 10px;
	text-decoration: none;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.more-info-button p {
  margin-bottom: 0px;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 300px;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress::after {
	border-radius: 3px;
	background-color: #7C3E66;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 66%;
}

.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}

.btn-event {
	background-color: #7C3E66;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
}

.btn-event:hover {
  background-color: #693256;
}

