.delete-button{
  color: white!important;
  font-size: 20px;
  border-radius: 5px;
  position: relative;
    right: -360px;
}

.edit-button{
  color: white !important;
  font-size: 20px;
  border-radius: 5px;
  position: relative;
  right: -350px;
}
