* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --letsgo-color: #7C3E66;
  --letsgo-background: white;
}

.sidebar-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar-option .material-icons,
.fa-gofore {
  padding: 20px;
}

.sidebar-option h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.sidebar-option:hover {
  background-color: var(--letsgo-background);
  border-radius: 30px;
  color: var(--letsgo-color);
  transition: color 100ms ease-out;
}

.sidebar-option.active {
  color: var(--letsgo-color);
}

.sidebar__tweet {
  width: 100%;
  background-color: var(--letsgo-color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
}

body {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  background-color: #F2EBE9;
}

.sidebar {
  // border-right: 1px solid var(--letsgo-background);
  flex: 0.2;

  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.fa-gofore {
  color: var(--letsgo-color);
  font-size: 30px;
}

#home-h2 {
  color: white;
}

/* feed */
.feed {
  flex: 0.5;
  // border-right: 1px solid var(--letsgo-background);
  min-width: fit-content;
  overflow-y: scroll;
}

.feed-header {
  position: sticky;
  top: 0;
  background-color: #7C3E66;
  z-index: 100;
  // border: 1px solid var(--letsgo-background);
  padding: 15px 20px;
}

.feed-header h2 {
  font-size: 20px;
  font-weight: 800;
}

.feed::-webkit-scrollbar {
  display: none;
}

.logo-side-bar{
  position: relative;
  left: 17px;
  bottom: 5px;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* tweet box */
.publish-box-input img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.publish-box {
  padding-bottom: 10px;
  border: 2px solid var(--letsgo-background);
  padding-right: 10px;
  height: 150px;
}

.publish-box form {
  display: flex;
  flex-direction: column;
}

.publish-box-input {
  display: flex;
  padding: 20px;
  padding-bottom: 0px;
}

.publish-box-input input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
  width: 500px;

}

.carousel-inner {
  bottom: 10px;
  position: relative;
  margin-bottom: 20px;
}

#post_event_id {
  position: relative;
  bottom: 35px;
  left: 179px;
  width: 200px;
  border-radius: 30px;
}

.publish-box-publish-button {
  background-color: var(--letsgo-color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 10px;
  margin-left: auto;

  &:hover {
    color: white;
  }
}

.publish-box-publish-button-post {
  background-color: var(--letsgo-color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: -10px;
  margin-left: 500px;
  margin-bottom: 10px;
  position: relative;
  bottom: 20px;
}

.publish-box-publish-button-post-home {
  background-color: var(--letsgo-color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: -10px;
  margin-left: 500px;
  margin-bottom: 10px;
  position: relative;
  bottom: 80px;
}

.image-upload {
  margin-left: 32px;
  color: #7C3E66;
  width: fit-content;
  border: solid 5px #F2EBE9;
}

.image-upload:hover {
  color: white;
  background-color: #763961;
  border: solid 5px #763961;
  border-radius: 5px;
}

#upload-text {
  color: black;
}

#upload-text:hover {
  color: white;
}

// .form-control {
//   width: 450px;
// }

/* post */
.text-holder {
  border-radius: 30px;
}

.post-avatar img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.published-event {
  font-style: italic;
  color: #6e767d;
  font-size: small;
  margin-bottom: 0px;
}

.published-event-with-photo {
  font-style: italic;
  color: #6e767d;
  font-size: small;
  margin-bottom: 0px;
  position: relative;
  top: 300px;
}

.event-form-label {
  padding-left: 3px;
}

.btn-create-event {
  background-color: #7C3E66;
  color: white;
}

.btn-create-event:hover {
  color: white;
  background-color: #763961;
}
.post {
  display: flex;
  align-items: flex-start;
  border: 2px solid var(--letsgo-background);
  padding-bottom: 10px;
}

.post-odd {
  display: flex;
  align-items: flex-start;
  border: 2px solid var(--letsgo-background);
  padding-bottom: 10px;
  text-decoration: none;
}

.post-even {
  display: flex;
  align-items: flex-start;
  border: 2px solid var(--letsgo-background);
  padding-bottom: 10px;
  background-color: #FBF6F4;
  text-decoration: none;
}

.post-body img {
  object-fit: contain;
  border-radius: 20px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post-badge {
  font-size: 14px !important;
  color: var(--letsgo-color);
  margin-right: 5px;
}

.post-header-special {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post-header-text h3 {
  font-size: 15px;
  margin-bottom: 5px;
  color: #7C3E66;
  font-weight: bold;
}

.post-header-description {
  margin-bottom: 10px;
  font-size: 15px;
}

.post-body {
  flex: 1;
  padding: 10px;
  padding-bottom: 0px;
}

.post-avatar {
  padding: 20px;
}

/* widgets */
.widgets {
  flex: 0.3;
}

.widgets-input {
  display: flex;
  align-items: center;
  background-color: var(--letsgo-background);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.widgets-input input {
  border: none;
  background-color: var(--letsgo-background);
}

.widgets-search-icon {
  color: gray;
}

.widgets-widget-container {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
}

.widgets-widget-container h2 {
  font-size: 18px;
  font-weight: 800;
}

.widget-image {
  width: 200px;
  height: 200px;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-info .name {
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 0;
  padding-top: 15px;
}

.profile-info .username {
  color: #6e767d;
}

.option-icon ion-icon {
  font-size: 16px;
  margin-top: 2px;
}

.dropup .dropdown-toggle::after {
  display: contents;
}

.dropdown-menu {
  width: 100%;
}
