.image0{
  position: relative;
  left: 0;
  z-index: 10;
  border: 2px red solid;
  &:hover{
    transform: scale(1.05);
  }
}
.image1 {
  position: relative;
  left: -20px ;
  border: 2px yellow solid;
  z-index: 9;
  &:hover{
    transform: scale(1.05);
  }
}
.image2 {
  position: relative;
  left: -40px;
  border: 2px green solid;
  z-index: 8;
  &:hover{
    transform: scale(1.05);
  }
}

.image3 {
  position: relative;
  left: -60px;
  border: 2px blue solid;
  z-index: 7;
  &:hover{
    transform: scale(1.05);
  }
}
.image4 {
  position: relative;
  left: -80px;
  border: 2px black solid;
  z-index: 6;
  &:hover{
    transform: scale(1.05);
  }
}

.image5{
  position: relative;
  left: -100px;
  border: 2px orange solid;
  z-index: 5;
  &:hover{
    transform: scale(1.05);
  }
}
.image6 {
  position: relative;
  left: -120px;
  border: 2px purple solid;
  z-index: 4;
  &:hover{
    transform: scale(1.05);
  }
}
