.image0{
  position: relative;
  left: 0;
  z-index: 10;
  border: 3px red solid;
  transition: 0.5s;
  &:hover{
    transform: scale(1.1);

  }
}
.image1 {
  position: relative;
  left: -20px ;
  border: 3px orange solid;
  z-index: 9;
  transition: 0.5s;
  &:hover{
    transform: scale(1.1);

  }
}
.image2 {
  position: relative;
  left: -40px;
  border: 3px yellow solid;
  z-index: 8;
  transition: 0.5s;

  &:hover{
    transform: scale(1.1);
  }
}

.image3 {
  position: relative;
  left: -60px;
  border: 3px green solid;
  z-index: 7;
  transition: 0.5s;

  &:hover{
    transform: scale(1.1);
  }
}
.image4 {
  position: relative;
  left: -80px;
  border: 3px rgb(86, 86, 252) solid;
  z-index: 6;
  transition: 0.5s;

  &:hover{
    transform: scale(1.1);
  }
}

.image5{
  position: relative;
  left: -100px;
  border: 3px blue solid;
  z-index: 5;
  transition: 0.5s;
  &:hover{
    transform: scale(1.1);

  }
}


.confirmados {

  width: 100%;
  color: white;
}


div span:not(:first-child) {
  margin-left: -0.3em;
}
