.username{
 text-align: center;
 margin-bottom: 0px;
}

.dropdown-toggle::after {
  display:none;
}

.dropdown-menu {
  border-radius: 4px;
  transition-duration: 0.3s;
  bottom: 100%;
  position: bottom;

  .dropdown-item {
    display: inline-block;
  }

  #edit-profile-text {
    text-align: left;
    vertical-align: middle;
    font-size: 15px;
  }

  .icons-dropdown {
    font-size: 15px;
    padding-left: 60px;
  }
}

.dropdown-icon {
  padding: 20px;
  font-size: 20px;
  display: inline;
}

.widgets-widget-container{
  background-color: white;
}

.badge {
  line-height: 20px !important;
  width: 20px !important;
  padding: 0 !important;
  background: #D73B3A !important;
  position: relative !important;
  top: -15px !important;
  left: -15px !important;
  border-radius: 50%;
}

.not-pos {
  left: -200px;
}